.dropdown {  
    /* dropdown은 absolute로 뿌려줘야 하므로 부모를 position: relative로 잡아준다 */
      position: relative;
    }

.dropdown .inform:hover::after
.dropdown .inform.is-active::after{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 2px solid #8e8e8e;
  content: '';
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 225px;
  top: 37px;
  left: -175px;
  padding: 10px 0;
  background-color: #fff;
  font-size: 16px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  font-size: 14px;
}